---
layout: default
---

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>

  <p class="message">
    You can sanity check that you are ready for this scenario if you see
    '{{ page.slug }}' listed in the output of `vagrant status`.
    If you don't, see the <a href="{{ site.baseurl }}{% link getting_started.md %}">getting started guide</a>.
  </p>

  <p>
    To run this scenario run:
  </p>

  {% highlight shell %}
vagrant up {{ page.slug }}  # Wait for Vagrant up to finish
vagrant ssh {{ page.slug }}
  {% endhighlight %}

  The `vagrant up` command downloads a Vagrant box. This can can take a few
  minutes. Vagrant boxes can be pre-downloaded using the `vagrant box`
  command. For example pre-download this scenario box using:

  {% highlight shell %}
vagrant box add selinuxgame/{{ page.slug }}
  {% endhighlight %}

  <p>
    When you believe you know the answer, tell it to one of the
    <a href="{{ site.baseurl }}{% link admins.md %}"> SELinux Game Admins</a>
    via Freenode. An admin can verify your solution and record your name on
    <a href="{{ site.baseurl }}{% link leaderboard.md %}">the leaderboard</a>.
  </p>

  You may be able to connect to Freenode using: <a href="https://webchat.freenode.net/">webchat.freenode.net</a>
</div>
