---
layout: default
---

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>

  <h3 style="padding-top:10px">Difficulty: {{ page.difficulty }}</h3>

  <p style="padding-top:10px">
    <h3>Description:</h3>
    {{ page.description }}
  </p>

{% include try-it.html %}

  <h2 style="padding-top:30px">Submit your Answer</h2>
  <p>
    When you believe you know the answer, tell it to one of the
    <a href="{{ site.baseurl }}{% link admins.md %}"> SELinux Game Admins</a>
    via Freenode. An admin can verify your solution and record your name on
    <a href="{{ site.baseurl }}{% link leaderboard.md %}">the leaderboard</a>.
  </p>

  You may be able to connect to Freenode using: <a href="https://webchat.freenode.net/">webchat.freenode.net</a>
</div>
