---
layout: default
---

<h1 class="page-title">{{ page.title }}</h1>

{{ page.content }}

{% include try-it.html %}

{% if page.next_tutorials %}
  <p style="padding-top:30px">
    <h2>More Tutorials</h2>
    After this one, the following tutorials are recommended:
    <p style="padding-top:10px">
      <ul>
      {% for tutorial_name in page.next_tutorials %}
        {% assign next_tutorial = site.tutorials | where:"slug",tutorial_name | first %}
        <li><a href="{{ site.baseurl }}{{ next_tutorial.url}}">{{ next_tutorial.title }}</a>: {{ next_tutorial.description }}</li>
      {% endfor %}
      </ul>
    </p>
  </p>
{% endif %}

{% if page.attribution_url %}
  <p style="padding-top:30px">
    <span style="font-size:0.8em">
      Portions of this page's content are copied from <a href="{{ page.attribution_url }}">this page</a>
      for non-commercial, education purposes.
    </span>
  </p>
{% endif %}
